<%= render Spina::UserInterface::HeaderComponent.new do |header| %>
  
  <% header.navigation do %>
    <nav class="-mb-3 mt-4">
      <ul class="inline-flex w-auto rounded-md bg-white">
      </ul>
    </nav>
  <% end %>
<% end %>
<div class="p-4 md:p-8">
  <%= form_with model: @room_type, url: Rails.application.routes.url_helpers.admin_room_type_path(@room_type), id: dom_id(@room_type) do |f| %>
    <%#= hidden_field_tag :locale, @locale %>
    <% Mobility.with_locale(@locale) do %>
      <div class="col-span-2">
        <div class="col-span-1">
          <label class="block text-sm font-medium leading-5 text-gray-700 flex items-center">
            <%= Spina::Page.human_attribute_name(:name) %>
          </label>
        </div>

        <%= f.text_field :name, class: 'form-input block w-full sm:text-sm sm:leading-5' %>
      </div>

      <div class="col-span-2">
        <div class="col-span-1">
          <label class="mt-4 block text-sm font-medium leading-5 text-gray-700 flex items-center">
            Description
          </label>
        </div>

        <%= f.text_area :description, class: 'form-input block w-full sm:text-sm sm:leading-5' %>
      </div>

      <div class="col-span-2">
        <div class="col-span-1">
          <label class="mt-4 block text-sm font-medium leading-5 text-gray-700 flex items-center">
            Images
          </label>
        </div>

        <% @room_type.images.each do |i| %>
          <div id="<%= i.signed_id %>" class="mb-4">
            <%= hidden_field_tag 'room_type[images][]', i.signed_id %>
            <%= image_tag main_app.url_for(i.variant(:thumb)) %>
            <span class="cursor-pointer" onclick="javascript:document.getElementById('<%= i.signed_id %>').remove()">Remove</span>
          </div>
        <% end %>
        <div class="mt-4">
          Add Images:
          <%= f.file_field :images, multiple: true %>
        </div>
      </div>
    <% end %>
    <%= submit_tag 'Save Room Type', class: 'btn mt-4 btn-primary' %>
  <% end %>
</div>
