<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= @page.try(:seo_title) || Current.account.name %></title>
    <% if @page.try(:description) %>
      <meta name="description" content="<%= @page.description %>">
    <% end%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% if current_account.content(:favicon) %>
      <link rel="icon" href="<%= main_app.url_for(current_account.content(:favicon)) %>">
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;800&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
